@{
  Layout = "_Layout";
}

@using Pierre.Models

<div class="welcome">
  <h3>Hello
    @if(@User.Identity.Name != null)
    {
      @User.Identity.Name;
    } else {
      <span>New User</span>}!</h3>
  <h1>Welcome To Pierre's!</h1>
      
  <img src="https://media.giphy.com/media/5hvFRdojKLRvHUqUEK/giphy.gif">
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h3>See a list of Treats below</h3>
      <ul>
        @foreach (Treat treat in ViewBag.Treats)
        {
          <li>@Html.DisplayFor(model => treat.Type)</li>
        }
      </ul>
      @Html.ActionLink("Go To Treat Corner", "Index", "Treats", null, new{@class="btn"})
    </div>
    <div class="col-md-6">
      <h3>See a list of Flavors below</h3>
      <ul>
        @foreach (Flavor flavor in ViewBag.Flavors)
        {
          <li>@Html.DisplayFor(model => flavor.Name)</li>
        }
      </ul>
      @Html.ActionLink("Go To Flavor Town", "Index", "Flavors", null, new{@class="btn"})
    </div>
  </div>
</div>
<br>
