@{
  Layout = "_Layout";
}

@using Pierre.Models


<h1>Welcome To Pierre's</h1>
<span>@Html.ActionLink("Create an account", "Index", "Account")</span>
<br>
<h3>See a list of treats below</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul>
        @foreach (Treat treat in ViewBag.Treats)
        {
          <li>@Html.DisplayFor(model => treat.Type)</li>
        }
      </ul>
      @Html.ActionLink("Go To Treat Corner", "Index", "Treats", null, new{@class="btn"})
    </div>
    <div class="col-md-6">
      @foreach (Flavor flavor in ViewBag.Flavors)
      {
        <li>@flavor</li>
      }
      @Html.ActionLink("Go To Flavor Town", "Index", "Flavors", null, new{@class="btn"})
    </div>
  </div>
</div>
