@{
  Layout = "_Layout";
}

@using Pierre.Models
@model Pierre.Models.Flavor;

<h1 class="welcome">Welcome to Flavor Town!</h1>
<div class="container">
  @if (ViewBag.Flavors != null)
  {
    @foreach(Flavor flavor in ViewBag.Flavors)
    {
      <h3>@($"{flavor.Name}")</h3>
      <hr />
      @Html.ActionLink("Edit Flavor", "Edit", null, new {id=flavor.FlavorId}, new {@class="links"})
      @Html.ActionLink("Details", "Details", null, new {id=flavor.FlavorId}, new {@class="links"})
      @Html.ActionLink("Erase Flavor", "Delete",null, new {id=flavor.FlavorId}, new {@class="links"})
    }
  }
  else 
  {
    <h2 class="welcome">Favor Town Population <em>NONE!</em></h2>
  }
  @Html.ActionLink("Create Flavor", "Create", null, null, new {@class="links"})
</div>